.main-header {
  display: flex;
  background-color: rgb(46, 74, 98);
  color: rgb(255, 255, 255);
}

.main-header__nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .main_header__nav-links {
    display: none;
  }

  .main-header__menu-btn {
    align-self: center;
    margin-right: 10px;
    margin-left: 5px;
  }
  
  .main-header__menu-btn div {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
  }

}