.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #2e4a62;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main-header__title a {
  text-decoration: none;
  color: white;
}

.main-header__nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-header__menu-btn {
  display: none;
}

@media only screen and (max-width: 600px) {
  .main-header {
    justify-content: flex-start;
  }

  .main_header__nav-links {
    display: none;
  }

  .main-header__menu-btn {
    display: block;
    align-self: center;
    margin-right: 10px;
    margin-left: 5px;
  }
  
  .main-header__menu-btn div {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
  }

}