.recipe-item__header {
  text-align: center;
  margin: 0 0 5px 0;
}

.recipe-item__image img {
  max-width: 100%;
}

.recipe-item__meal-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-item__logo-container {
  display: flex;
  align-items: center;
}

.recipe-item_info-container {
  padding: 10px;
}

.recipe-item__logo {
  width: 32px;
  height: 32px;
}

.recipe-item__actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}