.root-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-container {
  border: 2px black solid;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  width: 112px;
  height: 112px;
}

.day-container:hover {
  cursor: pointer;
}